<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aucper.mapper.TProductBidInfoMapper">

    <resultMap type="TProductBidInfo" id="TProductBidInfoResult">
        <result property="id"    column="ID"    />
        <result property="productCode"    column="PRODUCT_CODE"    />
        <result property="productTitle"    column="PRODUCT_TITLE"    />
        <result property="nowPrice"    column="NOW_PRICE"    />
        <result property="onholdPrice"    column="ONHOLD_PRICE"    />
        <result property="bidCountdown"    column="BID_COUNTDOWN"    />
        <result property="bidStartDate"    column="BID_START_DATE"    />
        <result property="bidEndDate"    column="BID_END_DATE"    />
        <result property="bidLastUser"    column="BID_LAST_USER"    />
        <result property="trusteeshipUser1"    column="TRUSTEESHIP_USER1"    />
        <result property="trusteeshipUser2"    column="TRUSTEESHIP_USER2"    />
        <result property="bidUserCount"    column="BID_USER_COUNT"    />
        <result property="remainingTime"    column="REMAINING_TIME"    />
        <result property="bidClosingTask"    column="BID_CLOSING_TASK"    />
        <result property="bidPriceTask"    column="BID_PRICE_TASK"    />
        <result property="bidTask"    column="BID_TASK"    />
        <result property="bidStatus"    column="BID_STATUS"    />
        <result property="taskStatus"    column="TASK_STATUS"    />
        <result property="remainingTimeUnit"    column="REMAINING_TIME_UNIT"    />
        <result property="realTimeStatus"    column="REAL_TIME_STATUS"    />
        <result property="deleteFlag"    column="DELETE_FLAG"    />
        <result property="updateCount"    column="UPDATE_COUNT"    />
        <result property="createUser"    column="CREATE_USER"    />
        <result property="createDatetime"    column="CREATE_DATETIME"    />
        <result property="updateUser"    column="UPDATE_USER"    />
        <result property="updateDatetime"    column="UPDATE_DATETIME"    />
    </resultMap>

    <sql id="selectTProductBidInfoVo">
        select ID, PRODUCT_CODE, PRODUCT_TITLE, NOW_PRICE, ONHOLD_PRICE, BID_COUNTDOWN, BID_START_DATE, BID_END_DATE, BID_LAST_USER, TRUSTEESHIP_USER1, TRUSTEESHIP_USER2, BID_USER_COUNT, REMAINING_TIME, BID_CLOSING_TASK, BID_PRICE_TASK, BID_TASK, BID_STATUS, TASK_STATUS, REMAINING_TIME_UNIT, REAL_TIME_STATUS, DELETE_FLAG, UPDATE_COUNT, CREATE_USER, CREATE_DATETIME, UPDATE_USER, UPDATE_DATETIME from T_PRODUCT_BID_INFO
    </sql>

    <select id="selectTProductBidInfoList" parameterType="TProductBidInfo" resultMap="TProductBidInfoResult">
        <include refid="selectTProductBidInfoVo"/>
        <where>
            <if test="productCode != null  and productCode != ''"> and PRODUCT_CODE = #{productCode}</if>
            <if test="productTitle != null  and productTitle != ''"> and PRODUCT_TITLE like concat('%', #{productTitle}, '%')</if>
            <if test="nowPrice != null "> and NOW_PRICE &gt;= #{nowPrice}</if>
            <if test="bidEndDate != null "> and BID_END_DATE &lt;= #{bidEndDate}</if>
            <if test="bidStatus != null  and bidStatus != ''"> and BID_STATUS = #{bidStatus}</if>
            <if test="taskStatus != null  and taskStatus != ''"> and TASK_STATUS = #{taskStatus}</if>
            <if test="realTimeStatus != null  and realTimeStatus != ''"> and REAL_TIME_STATUS = #{realTimeStatus}</if>
            <if test="deleteFlag != null "> and DELETE_FLAG = #{deleteFlag}</if>
        </where>
    </select>

    <select id="selectOpeningBidList" parameterType="TProductBidInfo" resultMap="TProductBidInfoResult">
        <include refid="selectTProductBidInfoVo"/>
        <where>
            <if test="productCode != null  and productCode != ''"> and PRODUCT_CODE = #{productCode}</if>
            <if test="productTitle != null  and productTitle != ''"> and PRODUCT_TITLE like concat('%', #{productTitle}, '%')</if>
            <if test="nowPrice != null "> and NOW_PRICE &gt;= #{nowPrice}</if>
            <if test="bidEndDate != null "> and BID_END_DATE &lt;= #{bidEndDate}</if>
            <if test="bidStatus != null  and bidStatus != ''"> and (BID_STATUS is null or BID_STATUS <![CDATA[ <> ]]> #{bidStatus})</if>
            <if test="taskStatus != null  and taskStatus != ''"> and TASK_STATUS = #{taskStatus}</if>
            <if test="realTimeStatus != null  and realTimeStatus != ''"> and REAL_TIME_STATUS = #{realTimeStatus}</if>
            <if test="deleteFlag != null "> and DELETE_FLAG = #{deleteFlag}</if>
        </where>
    </select>

    <select id="selectTProductBidInfoById" parameterType="Integer" resultMap="TProductBidInfoResult">
        <include refid="selectTProductBidInfoVo"/>
        where ID = #{id}
    </select>

    <insert id="insertTProductBidInfo" parameterType="TProductBidInfo" useGeneratedKeys="true" keyProperty="id">
        insert into T_PRODUCT_BID_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null">PRODUCT_CODE,</if>
            <if test="productTitle != null">PRODUCT_TITLE,</if>
            <if test="nowPrice != null">NOW_PRICE,</if>
            <if test="onholdPrice != null">ONHOLD_PRICE,</if>
            <if test="bidCountdown != null">BID_COUNTDOWN,</if>
            <if test="bidStartDate != null">BID_START_DATE,</if>
            <if test="bidEndDate != null">BID_END_DATE,</if>
            <if test="bidLastUser != null">BID_LAST_USER,</if>
            <if test="trusteeshipUser1 != null">TRUSTEESHIP_USER1,</if>
            <if test="trusteeshipUser2 != null">TRUSTEESHIP_USER2,</if>
            <if test="bidUserCount != null">BID_USER_COUNT,</if>
            <if test="remainingTime != null">REMAINING_TIME,</if>
            <if test="bidClosingTask != null">BID_CLOSING_TASK,</if>
            <if test="bidPriceTask != null">BID_PRICE_TASK,</if>
            <if test="bidTask != null">BID_TASK,</if>
            <if test="bidStatus != null">BID_STATUS,</if>
            <if test="taskStatus != null">TASK_STATUS,</if>
            <if test="remainingTimeUnit != null">REMAINING_TIME_UNIT,</if>
            <if test="realTimeStatus != null">REAL_TIME_STATUS,</if>
            <if test="deleteFlag != null">DELETE_FLAG,</if>
            <if test="updateCount != null">UPDATE_COUNT,</if>
            <if test="createUser != null">CREATE_USER,</if>
            <if test="createDatetime != null">CREATE_DATETIME,</if>
            <if test="updateUser != null">UPDATE_USER,</if>
            <if test="updateDatetime != null">UPDATE_DATETIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null">#{productCode},</if>
            <if test="productTitle != null">#{productTitle},</if>
            <if test="nowPrice != null">#{nowPrice},</if>
            <if test="onholdPrice != null">#{onholdPrice},</if>
            <if test="bidCountdown != null">#{bidCountdown},</if>
            <if test="bidStartDate != null">#{bidStartDate},</if>
            <if test="bidEndDate != null">#{bidEndDate},</if>
            <if test="bidLastUser != null">#{bidLastUser},</if>
            <if test="trusteeshipUser1 != null">#{trusteeshipUser1},</if>
            <if test="trusteeshipUser2 != null">#{trusteeshipUser2},</if>
            <if test="bidUserCount != null">#{bidUserCount},</if>
            <if test="remainingTime != null">#{remainingTime},</if>
            <if test="bidClosingTask != null">#{bidClosingTask},</if>
            <if test="bidPriceTask != null">#{bidPriceTask},</if>
            <if test="bidTask != null">#{bidTask},</if>
            <if test="bidStatus != null">#{bidStatus},</if>
            <if test="taskStatus != null">#{taskStatus},</if>
            <if test="remainingTimeUnit != null">#{remainingTimeUnit},</if>
            <if test="realTimeStatus != null">#{realTimeStatus},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="updateCount != null">#{updateCount},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDatetime != null">#{createDatetime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDatetime != null">#{updateDatetime},</if>
         </trim>
    </insert>

    <update id="updateTProductBidInfo" parameterType="TProductBidInfo">
        update T_PRODUCT_BID_INFO
        <trim prefix="SET" suffixOverrides=",">
            <if test="productCode != null">PRODUCT_CODE = #{productCode},</if>
            <if test="productTitle != null">PRODUCT_TITLE = #{productTitle},</if>
            <if test="nowPrice != null">NOW_PRICE = #{nowPrice},</if>
            <if test="onholdPrice != null">ONHOLD_PRICE = #{onholdPrice},</if>
            <if test="bidCountdown != null">BID_COUNTDOWN = #{bidCountdown},</if>
            <if test="bidStartDate != null">BID_START_DATE = #{bidStartDate},</if>
            <if test="bidEndDate != null">BID_END_DATE = #{bidEndDate},</if>
            <if test="bidLastUser != null">BID_LAST_USER = #{bidLastUser},</if>
            <if test="trusteeshipUser1 != null">TRUSTEESHIP_USER1 = #{trusteeshipUser1},</if>
            <if test="trusteeshipUser2 != null">TRUSTEESHIP_USER2 = #{trusteeshipUser2},</if>
            <if test="bidUserCount != null">BID_USER_COUNT = #{bidUserCount},</if>
            <if test="remainingTime != null">REMAINING_TIME = #{remainingTime},</if>
            <if test="bidClosingTask != null">BID_CLOSING_TASK = #{bidClosingTask},</if>
            <if test="bidPriceTask != null">BID_PRICE_TASK = #{bidPriceTask},</if>
            <if test="bidTask != null">BID_TASK = #{bidTask},</if>
            <if test="bidStatus != null">BID_STATUS = #{bidStatus},</if>
            <if test="taskStatus != null">TASK_STATUS = #{taskStatus},</if>
            <if test="remainingTimeUnit != null">REMAINING_TIME_UNIT = #{remainingTimeUnit},</if>
            <if test="realTimeStatus != null">REAL_TIME_STATUS = #{realTimeStatus},</if>
            <if test="deleteFlag != null">DELETE_FLAG = #{deleteFlag},</if>
            <if test="updateCount != null">UPDATE_COUNT = #{updateCount},</if>
            <if test="createUser != null">CREATE_USER = #{createUser},</if>
            <if test="createDatetime != null">CREATE_DATETIME = #{createDatetime},</if>
            <if test="updateUser != null">UPDATE_USER = #{updateUser},</if>
            <if test="updateDatetime != null">UPDATE_DATETIME = #{updateDatetime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteTProductBidInfoById" parameterType="Integer">
        delete from T_PRODUCT_BID_INFO where ID = #{id}
    </delete>

    <delete id="deleteTProductBidInfoByIds" parameterType="String">
        delete from T_PRODUCT_BID_INFO where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>